<div class = "row" style="height: 100%;width: 99%;margin-left: 5px !important;margin-right: 5px !important;">
<div class = "row" style="height:5%;width: 100%;text-align: center;font-family: sans-serif;font-size: 30px;border-radius: 10px 10px 0px 0px;background: #828282;color: white">
San Fransisco Map
</div>
<div class = "row" style="height: 95%;width: 100%">
	<div class=" col-sm-2 col-md-2" style="height: 100%;background: #B7B5AE;">
		
		<div class="row" style="height: 5%;margin-top: 5px !important;">
			<label>Agency</label> sfmuni
		</div>
		<div class="row" style="height: 5%">
			<label>Route</label><select>
					<option value="actransit">"AC Transit"</option>
					<option value="jhu-apl">APL</option>
			</select>
		</div>
		
	</div>
	<div class="col-sm-10  col-md-10" style="height: 100%;background: #FFFCEF;overflow: auto;">
		<div id="chart" style="height: 100%">
			<div style="float: right;position: absolute;left:90%;">
				<div style=";padding: 10px"><button value="+" ng-click="zoom(20000)" style="width: 40px;height: 40px;font-size: 20px">+</button></div>
				<div style=";padding: 10px"><button value="-" ng-click="zoom(-20000)" style="width: 40px;height: 40px;font-size: 20px">-</button></div>
				
			</div>
			
			<sfmap id="chart" api="control" configdata="chartConfig" locationdata="locationData" routedata="routeData"></sfmap>	
		</div>
	</div>
</div>
</div>